.item {
    /* display: inline-block; */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-transform: lowercase;
    color: white;
}
.icons {
    margin-bottom: 1vh;
  display: inline-grid;
  align-items: center;
  grid-template-columns: repeat(5, 38px);
  grid-template-areas: "i i i i i";
}

.icon {
    grid-area: "i";
}

.social {
    margin-top: 29vh;
}

@media screen 
and (max-width:1920px)
and (min-width:768px) {
    .social {
        
    }
    
    }

@media screen 
and (max-width:1440px)
and (min-width:1024px) {

}


@media screen 
and (max-width:1024px)
and (min-width:768px) {

}


@media screen 
and (max-width:768px) {
    .social {
        display: none;
    }
    
}