.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "i t"
    "c f";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.about {
  margin-top: 15vh;
  grid-area: t;
  width: 30vw;
}

.contact {
  grid-area: c;
}

.photo {
  grid-area: i;
  justify-self: center;
}

.photo img {
  display: block;
  margin: auto;
  height: 100%;
  object-fit: scale-down;
  overflow: hidden;
  justify-self: center;
}

@media screen and (max-width: 1920px) and (min-width: 1440px) {
  .wrapper {
    margin-left: 20%;
  }
  .contact {
    margin-top: 10%;
    margin-left: 50%;
    margin-right: 5vw;
  }
  .photo {
    width: 30vw;
    height: 70vh;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .wrapper {
    margin-left: 25%;
  }
  .contact {
    margin-left: 50%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .wrapper {
    margin-left: 33.33%;
  }
}

@media screen and (max-width: 768px) and (min-width: 375px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 50vw); */
  }
}

@media screen and (max-width: 375px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 100vw; */
  }
}
