.item {
 

}

.item img {
    background-color: navajowhite;
    object-fit: cover;
    height: 100%;
    width: 100%;
}


@media screen 
and (max-width:1920px)
and (min-width:1440px) {
    .wrapper {
    margin-left: 20vw;
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: repeat(4, 20vw);
}}

@media screen 
and (max-width:1440px)
and (min-width:1024px) {
    .wrapper {
        margin-left: 25vw;
        display: grid;
        grid-template-columns: repeat(3, 25vw);
        grid-template-rows: repeat(3, 25vw);
    }
}

@media screen 
and (max-width:1024px)
and (min-width:768px) {
    .wrapper {
        margin-left: 33.33vw;
        display: grid;
        grid-template-columns: repeat(2, 33.33vw);
        grid-template-rows: repeat(2, 33.33vw);
    }
}


@media screen 
and (max-width:768px)
and (min-width:375px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 50vw);
        grid-template-rows: repeat(2, 50vw);
    }
}

@media screen 
and (max-width:375px) {
    .wrapper {
        display: grid;
        grid-template-rows: repeat(2, 100vw);
    }
}