.app-wrapper {

}

.content {
overflow: hidden;
}


@media screen 
and (max-width:1920px)
and (min-width:1440px) {
    .navbar {
        background-color: #E29D9D;
        min-height: 100vh;
        vertical-align: middle;
        text-align: center;
        width: 20%;
        position: fixed;
      }
    

    }

@media screen 
and (max-width:1440px)
and (min-width:1024px) {
    .navbar {
        background-color: #E29D9D;
        min-height: 100vh;
        vertical-align: middle;
        text-align: center;
        width: 25%;
        position: fixed;
      }
}

@media screen 
and (max-width:1024px)
and (min-width:768px) {
    .navbar {
        background-color: #E29D9D;
        min-height: 100vh;
        text-align: center;
        width: 33.33%;
        position: fixed;
      }
}


@media screen 
and (max-width:768px)
{
    .navbar {
        background-color: #E29D9D;
        min-height: 100%;
        width: 100%;
        align-items: center;
      }
}