.wrapper {
  top: 0;
  left: 0;
  display: inline-flex;
  position: fixed !important;
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
  align-self: center;
 
}

.wrapper button {
  margin: 0;
  background: rgba(255, 255, 255, 0.88);
  color: #E29D9D;
  border: none;
  text-align: center;
}

.wrapper button:hover {
  border: none;
  /* background-color: white; */
  color: #E29D9D;
  /* opacity: 1; */
}

.previous {
  width: 10%;
  height: 100%;
  align-self: bottom;
}

.img_wrapper {
  width: 80%;
  position: relative;
  background: rgba(255, 255, 255, 0.88);
  text-align: center;
}

.img_wrapper img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 96%;
  margin: auto;
  object-fit: scale-down;
}

.exit_next_wrapper {
  width: 10%;
  display: grid;
  grid-template-rows: 1fr 9fr;
}

.exit {
  /* float: right; */
  /* width: 50px; */
  height: 100%;
}

.next {
  /* width: 100%; */
  height: 100%;
  /* float: right; */
}
